<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
    <!-- 질문 -->
    <table class="table">
        <thead class="table-dark">
        <tr class="text-center">
            <th>번호</th>
            <th>카테고리</th>
            <th style="width:50%">제목</th>
            <th>조회수</th>
            <th>글쓴이</th>
            <th>작성일시</th>
        </tr>
        </thead>
        <tbody>
        <tr class="text-center" th:each="question, loop : ${questionPage}">
            <td th:text="${questionPage.getTotalElements - (questionPage.number * questionPage.size) - loop.index}"></td>
            <td th:text="${question.category.name}"></td>
            <td class="text-start">
                <a th:href="@{|/question/detail/${question.id}|}" th:text="${question.subject}"></a>
                <span class="text-danger small ms-2" th:if="${#lists.size(question.answerList) > 0}"
                      th:text="${#lists.size(question.answerList)}">
                </span>
            </td>
            <td th:text="${question.getViews()}"></td>
            <td><span th:if="${question.author != null}" th:text="${question.author.username}"></span></td>
            <td th:text="${#temporals.format(question.createDate, 'yyyy-MM-dd HH:mm')}"></td>
        </tr>
        </tbody>
    </table>
    <div th:if="${!questionPage.isEmpty()}">
        <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${!questionPage.hasPrevious} ? 'disabled'">
                <a class="page-link question" href="javascript:void(0)" th:data-question-page="${questionPage.number-1}">
                    <span>이전</span>
                </a>
            </li>
            <li th:each="question_page: ${#numbers.sequence(0, questionPage.totalPages-1)}"
                th:if="${question_page >= questionPage.number-5 and question_page <= questionPage.number+5}"
                th:classappend="${question_page == questionPage.number} ? 'active'"
                class="page-item">
                <a th:text="${question_page}" class="page-link question" href="javascript:void(0)" th:data-question-page="${question_page}"></a>
            </li>
            <li class="page-item" th:classappend="${!questionPage.hasNext} ? 'disabled'">
                <a class="page-link question" href="javascript:void(0)" th:data-question-page="${questionPage.number+1}">
                    <span>다음</span>
                </a>
            </li>
        </ul>
    </div>

    <!-- 답변 반복 시작 -->
    <div class="card my-3" th:each="answer, loop : ${answerPage}">
        <a th:id="|answer_${answer.id}|"></a>
        <div class="card-body">
            <div class="card-text" th:utext="${@commonUtil.markdown(answer.content)}"></div>
            <div class="d-flex justify-content-end">
                <div th:if="${answer.modifyDate != null}" class="badge bg-light text-dark p-2 text-start mx-3">
                    <div class="mb-2">modified at</div>
                    <div th:text="${#temporals.format(answer.modifyDate, 'yyyy-MM-dd HH:mm')}"></div>
                </div>
                <div class="badge bg-light text-dark p-2 text-start">
                    <div class="mb-2">
                        <span th:if="${answer.author != null}" th:text="${answer.author.username}"></span>
                    </div>
                    <div th:text="${#temporals.format(answer.createDate, 'yyyy-MM-dd HH:mm')}"></div>
                </div>
            </div>
            <div class="my-3">
                <a href="javascript:void(0);" class="recommend btn btn-sm btn-outline-secondary"
                   th:data-uri="@{|/answer/vote/${answer.id}|}">
                    추천
                    <span class="badge rounded-pill bg-success" th:text="${#lists.size(answer.voter)}"></span>
                </a>
                <a th:href="@{|/answer/modify/${answer.id}|}" class="btn btn-sm btn-outline-secondary"
                   sec:authorize="isAuthenticated()"
                   th:if="${answer.author != null and #authentication.getPrincipal().getUsername() == answer.author.username}"
                   th:text="수정"></a>
                <a href="javascript:void(0);" th:data-uri="@{|/answer/delete/${answer.id}|}"
                   class="delete btn btn-sm btn-outline-secondary" sec:authorize="isAuthenticated()"
                   th:if="${answer.author != null and #authentication.getPrincipal().getUsername() == answer.author.username}"
                   th:text="삭제"></a>
            </div>
        </div>
    </div>
    <!-- 답변 반복 끝  -->
    <!-- 페이징처리 시작 -->
    <div th:if="${!answerPage.isEmpty()}">
        <ul class="pagination justify-content-center">
            <li class="page-item answer" th:classappend="${!answerPage.hasPrevious} ? 'disabled'">
                <a class="page-link answer" href="javascript:void(0)" th:data-answer-page="${answerPage.number-1}">
                    <span>이전</span>
                </a>
            </li>
            <li th:each="answer_page: ${#numbers.sequence(0, answerPage.totalPages-1)}"
                th:if="${answer_page >= answerPage.number-5 and answer_page <= answerPage.number+5}"
                th:classappend="${answer_page == answerPage.number} ? 'active'"
                class="page-item">
                <a th:text="${answer_page}" class="page-link answer" href="javascript:void(0)" th:data-answer-page="${answer_page}"></a>
            </li>
            <li class="page-item" th:classappend="${!answerPage.hasNext} ? 'disabled'">
                <a class="page-link answer" href="javascript:void(0)" th:data-answer-page="${answerPage.number+1}">
                    <span>다음</span>
                </a>
            </li>
        </ul>
    </div>
    <!-- 페이징처리 끝 -->

    <form th:action="@{/user/profile}" method="get" id="pageForm">
        <input type="hidden" id="questionPage" name="questionPage" th:value="${questionPage.number != null ? questionPage.number : 0}">
        <input type="hidden" id="answerPage" name="answerPage" th:value="${answerPage.number != null ? answerPage.number : 0}">
    </form>
</div>

<script layout:fragment="script" type='text/javascript'>
    const answer_page_elements = document.getElementsByClassName("answer");
    Array.from(answer_page_elements).forEach(function(element) {
        element.addEventListener('click', function() {
            document.getElementById('answerPage').value = this.dataset.answerPage;
            document.getElementById('pageForm').submit();
        });
    });

    const question_page_elements = document.getElementsByClassName("question");
    Array.from(question_page_elements).forEach(function(element) {
        element.addEventListener('click', function() {
            document.getElementById('questionPage').value = this.dataset.questionPage;
            document.getElementById('pageForm').submit();
        });
    });

</script>
</html>